[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
dj-database-url = "*"
flask-sqlalchemy = "*"
matplotlib = "*"
base64 = "*"
io = "*"

[dev-packages]

[requires]
python_version = "3.8"
