body {
	background-color: #264653;
}
#FeaturedCategories {
	border: 1px solid black;
	float: left;
	width: 15%;
	background-color: #2A9D8F;
	text-align: center;
	padding: 10px 20px;
}
#FeaturedCategories div {
	padding: 5px;
	border: 1px solid black;
}
#ListHeader {
	background-color: #F4A261;
	margin: 10px 20px 5px 20px ;
}
#ListItem {
	margin: 4px;
	background-color: #E9C46A;
}
#TopText {
	color: white;
	margin-top: 3%;
	margin-right: 14%;
	text-align: center;
}
#MainText {
	color: #F4A261;
	margin-top: 3%;
	text-align: center;
	margin-right: 14%;
}
#DescText {
	color: white;
	margin-top: 15%;
	clear: both;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	
}
#LoginButton {
	background-color: #E9C46A;
	float: right;
	margin-right: 5%;
	border: solid black 3px;
}
#SuggestCategory {
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
	text-align: center;
	background-color: #2A9D8F;
	padding: 9px;
	border: solid black 1px;
}
#SugBox {
	background-color: #F4A261;
	padding: 10px;
	border: solid black 1px;
}
#ClickBox {
	background-color: #E9C46A;
	border: solid black 1px;
	
}
