body {
        background-color: #264653:
}
#SkillsList {
        background-color: #2A9D8F;
        float: left;
	width: 15%;
	padding: 10px 20px;
	text-align: center;
}
#myskillsheader {
        background-color: #E9C46A;
	padding: 5px;
	text-align: center;
}
#SkillItem {
        background-color: #F4A261;
	margin: 8px;
	text-align: center;	
}
#Currskilltitle {
        background-color: #E9C46A;
	width: 20%;
	text-align: center;
	float:left;
	margin-left: 30%;
	margin-top: 30px;
}
#PrintSkills {
        background-color: #E76F51;
        float:right;
	margin-right: 5%;
	text-align: center;
}
#Message {
        background-color: #F4A261;
	clear: both;
	text-align: center;
	margin-left: 20%;
	margin-right 20;
}
#pagetitle {
	float:right;
	text-align: center;
	margin-right: 40%;
}
