<!DOCTYPE html>
<html>

        <head>
	    <link rel="stylesheet" href="../static/css/enterInfo.css">
            <title id="ListHeader" class="whiteText"> Enter Your Score </title>
        </head>
		
		<body>
			
			<a href="https://amiaverage.herokuapp.com/mypage"><button class="yellowBox" style="float:right; width:10%; margin:20px 20px 20px 5px"/>Admin Login</button></a>
			<a href="https://amiaverage.herokuapp.com"><button class="yellowBox" style="float:right; width:10%; margin:20px 5px 20px 20px"/>Home</button></a>
			<br><br><br><br>
			<div id="Picture_and_desc" class="tealBoxRight">
				<p><img alt="{Image Link from Database}" src="{{ picture }}" style="border-style:solid; border-width:1px; float:left; height:auto; width:100%" /></p>
				<p style="margin: 15px; padding: 10px;">{{ description }}</p>
			</div>

			<div id="MainText" class="tealBoxLeft">
				<p class="whiteText"><b>Enter your score for <b class="orangeBox">{{ skillname }}</b> to find out how average you truly are!</b></p>
				<br>

		<!--This is the main form for sending info to the results page-->
			<form action="https://amiaverage.herokuapp.com/results" method="post" class="forms">
				<p class="whiteText"><b>I can </b> <b class="orangeBox">{{ skillverb }}</b>
				<input style="width: 10%; height: 25px" name="score" type="text" value="0" /> 
                <b class="orangeBox">{{ skillmetric }}</b></p><br>
				<!--This is a hidden value that will be sent along with the form-->
				<input type="hidden" name="skill_name" value="{{ skillname }}">
				<input type="submit" class="yellowBox" value="Am I Average?" style="font-family: Times New Roman; font-size: 16px">
			</form>

				<br>
			</div>

			<div class="tealBoxLeft">
				<p>Congratulations! You are {rating}!</p>

				<table>
					<tbody>
						<tr>
						<td class="yellowBox">Just Awful</td>
						<td class="goldBox">Okay</td>
						<td class="orangeBox">Average</td>
						<td class="goldBox">Pretty Good</td>
						<td class="yellowBox">Damn Girl</td>
						</tr>
						<tr>
						<td class="yellowOutline">{num}{metric}</td>
						<td class="goldOutline">{num}{metric}</td>
						<td class="orangeOutline">{num}{metric}</td>
						<td class="goldOutline">{num}{metric}</td>
						<td class="yellowOutline">{num}{metric}</td>
						</tr>
					</tbody>
				</table>
				<br>
				<a href="https://amiaverage.herokuapp.com/results"><button class="yellowBox" style="font-family: Times New Roman; font-size: 16px">See more details</button></a>
			</div>

        </body>

</html>
