<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../static/css/enterInfo.css">
        <title id="ListHeader" class="whiteText"> Enter Your Score </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/Javascript">
            function check_num_ge_zero()
            {
                var inp = document.getElementsByName("score")[0].value;
                if (isNaN(inp) || Number(inp) < 0) {
                    alert("Invalid Score Please Submit a Positive Number");
                    event.preventDefault();
                }
            }
        </script>
    </head>
		
    <body>
        
        <div id="MainText" class="header">
			<h1>AM I AVERAGE</h1>
			<h4><i>Find out how you stack up against the average Joe</i></h4>
		</div>

        <div class="row">
			<div class="col-1"></div>
			<div class="col-8 menu">
                <ul>
                    <li>
                        <li><label style="border: solid 3px #E76F51;"><h3>{{ skillname }}</h3></label></li>
                        <p>Enter your score to find out how average you are!</p><br>
                    </li>
                    <li>
                        <!-- This is the main form for sending info to the results page -->
                        <form action="https://amiaverage.herokuapp.com/results" method="post" class="forms" onsubmit="check_num_ge_zero();">
                            <li>
                                <p><b class="orangeBox">I can {{ skillverb }}</b></p>
                            </li>
                            <li>
                                <input id="scoreInput" name="score" type="text" placeholder="Score"/>
                            </li>
                            <li>
                                <p><b class="orangeBox">{{ skillmetric }}</b></p>
                            </li>
                            <br>
                            <input type="submit" id="submit" value="Am I Average?">

                            <!-- This is a hidden value that will be sent along with the form -->
                            <input type="hidden" name="skill_name" value="{{ skillname }}">
                        </form>
                    </li>
                </ul>
            </div>
            <div id="Picture_and_desc" class="col-8 menu">
                <ul>
                    <li><img alt="Skill Image" src="{{ picture }}"/></li>
                    <li><p>{{ description }}</p></li>
                </ul>
            </div>
            <div class="col-3 menu">
                <br><form action="https://amiaverage.herokuapp.com/login" method="post" class="forms">
					<ul>
						<li><input type="submit" name="action" value="Login"></li>
					</ul>
				</form>
                <form action="https://amiaverage.herokuapp.com" method="post" class="forms">
					<ul>
						<li><input type="submit" name="action" value="Home"></li>
					</ul>
				</form>
			</div>
		</div>
    </body>
</html>
