<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="../static/css/home.css">
		<title> AmIAverage? </title>
		
	</head>

	<body style="background-color: #264653;">
                <div id="LoginButton">
                        <p><a href="https://amiaverage.herokuapp.com/login">Admin Login</a></p>
                </div>
		<div id="FeaturedCategories">
			<div id="ListHeader">
				<p>Featured Categories</p>
			</div>
<!--264653 All of these below need the links for the anchors -->
			<div id="ListItem">
				<p><a href="https://amiaverage.herokuapp.com/enterInfo/">IQ</a></p>
			</div>
			<div id="ListItem">
				<p><a href="https://amiaverage.herokuapp.com/enterInfo/">Bench Press 1 Rep Max</a></p>
			</div>
			<div id="ListItem">
				<p><a href="https://amiaverage.herokuapp.com/enterInfo/">Hot Dogs in 1 Minute</p>
			</div>
			<div id="ListItem">
				<p><a href="https://amiaverage.herokuapp.com/mypage">More...</a></p>
			</div>
		</div>

		<div id="TopText">
			<h3>So you wanted to know...</h3>
		</div>
		<div id="MainText">
			<h1>*** &nbsp &nbspAM &nbsp&nbsp   ***
			<br>***** &nbsp&nbsp&nbsp I &nbsp&nbsp&nbsp *****
			<br>** AVERAGE??? **
			</h1>
		</div>

<!-- Need to add in the image here -->

                <div id="SuggestCategory">
                        <div id="SugBox" style="border: solid black 1px">
                                <p>Want to <br> suggest a new category?</p>
                        </div>
                        <div id="ClickBox">
                                <p>-->CLICK HERE<--</p>
                        </div>
                </div>

		<div id="DescText">
			<h3>Attempting to boost your ego? Why else would you
 have have come here!? Click a category and find out how you stack up against
the average (and not so average) Joe! </h3>
	</body>

</html>


