<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="../static/css/enterInfo.css">
		<title> AmIAverage? </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

		<body>
			<div id="MainText" class="header">
			<h1>AM I AVERAGE</h1>
			<h4><i>Find out how you stack up against the average Joe</i></h4>
		</div>
		
		<div class="row">
			<div class="col-1"></div>
			<div class="col-5 menu">
				<form action="https://amiaverage.herokuapp.com/enterInfo" method="post" class="forms">
					<ul>
						<li><label><h3>Featured Skills</h3></label></li>
						<li><input type="submit" name="action" value="IQ"></li>
						<li><input type="submit" name="action" value="Bench Press"></li>
						<li><input type="submit" name="action" value="Hot Dog Eating"></li>
						<li><input type="submit" name="action" value="Run a Mile"></li>
						<li><input type="submit" name="action" value="Fishing"></li>
					</ul>
				</form>
			</div>
			<div class="col-1"></div>
			<div class="col-6 menu">
				<form action="https://amiaverage.herokuapp.com/enterInfo" method="post" class="forms">
					<ul>
						<li><label><h3>Want to suggest a new skill?</h3></label></li>
						<li><input type="submit" name="action" value="Create a Skill"></li>
						<br>
						<li><label><h3>Forgot how average you are?</h3></label></li>
						<li><input type="submit" name="action" value="View My Skills"></li>
					</ul>
				</form>
			</div>
			<div class="col-3"></div>
			<div class="col-4 menu">
				<form action="https://amiaverage.herokuapp.com/login" method="post" class="forms">
					<ul>
						<li><input type="submit" name="action" value="Login"></li>
					</ul>
				</form>
			</div>
		</div>
	</body>
</html>
