<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="..static/css/enterInfo.css">
		<title> AmIAverage? </title>
	</head>

	<body>
		<div id="MainText" class="titleBox">
			<h1>AM I AVERAGE?</h1>
		</div>
		<br>
		<div>
			<a href="https://amiaverage.herokuapp.com/login">
				<button class="yellowLogin">Admin Login</button>
			</a>	
		</div>
		<div class="descriptionContainer">
			<div id="TopText" class="descriptionBox">
				<h3 style="padding:0px; height:auto">So you wanted to know...<br>Am I Average?</h3>
			</div>
			<div id="DescText" class="descriptionBox">
				<h3>Attempting to boost your ego?<br> 
					Why else would you have come here!?</h3>
			</div>
			<div id="DescText" class="descriptionBox">
				<h3>Click a category and find out how you stack up<br> against
	the average (and not so average) Joe! </h3>
			</div>
		</div>
		<div id="FeaturedCategories" class="skillsList">
			<div id="ListHeader" class="yellowOutline">
				<p>Featured Skills</p>
			</div>
<!--264653 All of these below need the links for the anchors -->
			<div>
				<a href="https://amiaverage.herokuapp.com/enterInfo">
					<button class="yellowListItem">IQ</button></a>
				<a href="https://amiaverage.herokuapp.com/enterInfo">
					<button class="yellowListItem">Bench Press</button></a>
				<a href="https://amiaverage.herokuapp.com/enterInfo">
					<button class="yellowListItem">Hot Dogs in 1 Minute</button></a>
				<a href="https://amiaverage.herokuapp.com/enterInfo">
					<button class="yellowListItem">Mile Run Time</button></a>
				<a href="https://amiaverage.herokuapp.com/enterInfo">
					<button class="yellowListItem">More...</button></a>
			</div>
		</div>
		<!-- Need to add in the image here -->
		<div id="SuggestCategory" class="menuOptions">
			<div id="SugBox">
				<br>
				<p>Want to suggest a new category?</p>
			</div>
			<a href="https://amiaverage.herokuapp.com/newcategory">
				<button class="yellowListItem" style="width:250px; background-color: #F4A261;">Create a Category</button></a>
		</div>
		<div id="ViewMySkills" class="menuOptions">
			<div id="MySkills">
				<br>
				<p>Forgot how average you are?</p>
			</div>
			<a href="https://amiaverage.herokuapp.com/newcategory">
				<button class="yellowListItem" style="width:250px; background-color: #F4A261;">View My Skills</button></a>
		</div>

	</body>

</html>
