<!DOCTYPE html>
<html>
	<head>
	<title>My Skils</title>
	</head>
	<body>
		<div id="SkillsList">
			<div id="myskills"
			<p>My Skills</p>
		</div>
		<div id=SkillItem>
			<p><a href="linktofirst">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktosecond">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktothird">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktofourth">Item Title</a></p>
		</div>
		
		<div id=SkillItem>
			<p><a href="linktofifth">Item Title</a></p>
		</div>
	</div>
	<div id="Currskilltitle">
		<p> Current Skill Name </p>
	
	<div id="ImageGraphic">

	</div>

	<div id="Message">
		<p> Message related to current skill </p>
	</div>
	
	<div id="PrintSkills">
		<p> Print all my skils </p>

	</body>
</html>
		
