<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/enterInfo.css">	
		<title>MySkills</title>
	</head>
	<body>
        <a href="https://amiaverage.herokuapp.com">
            <button class="yellowBox" style="float:right; width:10%; margin:20px 5px 20px 20px">Home</button></a>
        <br><br><br><br>
        
        <div id="SkillsList" class="tealBoxLeft" style="height:380px; width:240px">
			<div id="myskillsheader" class="yellowOutline">
			    <p>My Skills</p>
			</div>
            <br>
            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="width:200px; margin:10px">IQ</button></a>
            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="width:200px; margin:10px">Bench Press</button></a>
            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="width:200px; margin:10px">Hot Dog Eating</button></a>
            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="width:200px; margin:10px">Mile Run Time</button></a>
            
            <br><br>
            <a href="https://amiaverage.herokuapp.com">
                <button style="width:150px; margin:10px">Print all my skills</button></a>
        </div>
        <div class="tealBoxLeft" style="height:380px; width:500px; margin-left:100px">
            <div id="Currskilltitle" class="titleBox" style="background-color:#2A9D8F">
                <p> {{ skill_name }}</p>
            </div>	
            <br>
            <div id="ImageGraphic" class="yellowOutline" style="height:200px;">
                <p> {{ skill_picture }}</p>
            </div>
            <br>
            <div id="score" class="descriptionBox" style="background-color:#2A9D8F">
                <p>Your most recent score is: {{ skill_score }}</p>
            </div>
            <br>

        </div>
	</body>
</html>
		
