<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/list.css">	
		<div id="pagetitle">My Skills</div>
	</head>
	<body style="background-color: #264653">
		<div id="SkillsList">
			<div id="myskillsheader"
			<p>My Skills</p>
			</div>
		<div id=SkillItem>
			<p><a href="linktofirst">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktosecond">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktothird">Item Title</a></p>
		</div>
		<div id=SkillItem>
			<p><a href="linktofourth">Item Title</a></p>
		</div>
		
		<div id=SkillItem>
			<p><a href="linktofifth">Item Title</a></p>
		</div>
	</div>
	<div id="Currskilltitle">
		<p> Current Skill Name </p>
	</div>	
	<div id="ImageGraphic">

	</div>

	<div id="Message">
		<p> Message related to current skill </p>
	</div>
	
	<div id="PrintSkills">
		<p> Print all my skils </p>
	</div>
	<div id="homelink">
		<p><a href="https://amiaverage2.herokuapp.com/">Home Page</a> </p>
	</div>
	</body>
</html>
		
