<!DOCTYPE html>
<html>
<!--For more info on how to actually collect user input, got to https://www.w3schools.com/html/html_forms.asp 
and then look at how to use php language-->
        <head>
            <link rel="stylesheet" href="../static/css/enterInfo.css">
            <!-- href="../static/css/enterInfo.css" -->
            <title> AmIAverage? </title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <!-- -->
            <script type = "text/JavaScript">
                // function handleSubmit() { return false; }
                function LoginError() {
            		alert("Invalid username and password");
        		}
                function ClearText() {
                    loginBox = document.getElementById("username");
                    passwordBox = document.getElementById("password");
                    loginBox.value="";
                    passwordBox.value="";
                }
      		</script>
        </head>

        <body>
            <div id="MainText" class="header">
                <h1>AM I AVERAGE</h1>
                <h4><i>Find out how you stack up against the average Joe</i></h4>
            </div>
    
            <div class="row">
                <div class="col-5"></div>
                <div class="col-8 category">
                    <ul>
                        <li>
                            <h3>Login to view your skills</h3>
                        </li>
                        <li>
                            <!--<form method="POST" action="https://amiaverage.herokuapp.com/mypage">-->
                            <form method="POST" action="https://amiaverage.herokuapp.com/login">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" placeholder="Username"><br>
                                    <label for="password">Password:</label>
                                    <input type="text" id="password" name="password" placeholder="Password"><br>
                                    <div id="loginButton">
                                        <input type="submit" value="Login" onclick="LoginError();ClearText();" name="ok">
                                    </div>
                            </form> 
                        </li>
                    </ul>
                </div>
                <div class="col-4"></div>
                <div class="col-3 menu">
                    <br>
                    <form action="https://amiaverage.herokuapp.com" method="post" class="forms">
                        <ul>
                            <li><input type="submit" name="action" value="Home"></li>
                        </ul>
                    </form>
                </div>
            </div>    
	</body>
</html>
