<!DOCTYPE html>
<html>

<!--For more info on how to actually collect user input, got to https://www.w3schools.com/html/html_forms.asp 
and then look at how to use php language-->

        <head>

            <link rel="stylesheet" href="../static/css/enterInfo.css">
            <!-- href="../static/css/enterInfo.css" -->
            <title> AmIAverage? </title>
		    <!-- -->
            <script type = "text/JavaScript">
                // function handleSubmit() { return false; }
                function LoginError() {
            		alert("Invalid username and password");
        		}
                function ClearText() {
                    loginBox = document.getElementById("username");
                    passwordBox = document.getElementById("password");
                    loginBox.value="";
                    passwordBox.value="";
                }
      		</script>

        </head>

        <body>

            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="float:right; width:10%; margin:20px 5px 20px 20px">Home</button>
            </a>
            
            <div class="orangeBox" style="width:400px; margin: 20px auto auto auto">
                <h2>Login to view your skill history</h2>
            </div>
            <br>

            <div class="yellowBox" style="width:400px; height:140px; margin:auto">
            <!--<form method="POST" action="https://amiaverage.herokuapp.com/mypage">-->
            <form method="POST" action="https://amiaverage.herokuapp.com/login">
            <fieldset>
                <br>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username"><br><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Login" onclick="LoginError();ClearText();" name="ok">
            </fieldset>
            </form> 
            </div>

	</body>
</html>
