<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/enterInfo.css">
        <title> AmIAverage? </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type = "text/JavaScript">
            window.addEventListener('load', function () {
                message = document.getElementById("message");
                //removes the message if none was passed in
                if (message.textContent == '{{ message }}') {
                    message.remove();
                    //console.log(message.textContent);
                    //console.log("Hi");
                }
            });
            //function to catch submission errors
            function SubmitError() {              
                textBox1 = document.getElementById("textBox1");
                textBox2 = document.getElementById("textBox2");
                textBox3 = document.getElementById("textBox3");
                textBox4 = document.getElementById("textBox4");
                textBox5 = document.getElementById("textBox5");
                lst = [textBox1, textBox2, textBox3, textBox4, textBox5];
                //this for loop stops the submission if any of the inputs are empty or only whitespace
                for (var i = 0; i < lst.length; i++) {
                    if (lst[i].value == '' || lst[i].value.trim().length == 0) {
                        alert("Invalid Category Submission. Make sure all fields are filled."); 
                        event.preventDefault();
                        break;
                    }
                }
            }
        </script>
    </head>

    <body>
        
        <div id="MainText" class="header">
			<h1>AM I AVERAGE</h1>
			<h4><i>Find out how you stack up against the average Joe</i></h4>
		</div>

        <div class="row">
			<div class="col-5"></div>
			<div class="col-8 category">
                <ul>
                    <li>
                        <p id="message">{{ message }}</p>
                        <h3>Suggest a Skill</h3>
                    </li>
                    <li>
                        <div id="enterInfoBox">
                            <form method="post" action="/submit" onsubmit="SubmitError();">
                                <label for="categoryName">Skill Name</label>
                                    <input type="text" id="textBox1" name="categoryName" placeholder="Enter the name of the skill"><br>
                                <label for="verb">Verb</label>
                                    <input type="text" id="textBox2" name="verb" placeholder="Enter the action related to the skill"><br>
                                <label for="metric">Metric</label>
                                    <input type="text" id="textBox3" name="metric" placeholder="Enter the metric"><br>
                                <label for="unit_of_measurement">Unit of Measurement</label>
                                    <input type="text" id="textBox4" name="unit_of_measurement" placeholder="Enter the unit of measurement"><br>
                                <label for="desc">Description</label>
                                    <textarea id="textBox5" name="desc" placeholder="Describe the category in a sentence or two"></textarea>
                                <br>
                                <div id="submitCategory">
                                    <input type="submit" id="submit" value="Submit Category" name="ok">
                                </div>
                            </form> 
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-4"></div>
            <div class="col-3 menu">
                <br><form action="https://amiaverage.herokuapp.com/login" method="post" class="forms">
					<ul>
						<li><input type="submit" name="action" value="Login"></li>
					</ul>
				</form>
                <form action="https://amiaverage.herokuapp.com" method="post" class="forms">
					<ul>
						<li><input type="submit" name="action" value="Home"></li>
					</ul>
				</form>
			</div>
		</div>    
    </body>
</html>
