<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/enterInfo.css">
        <title> AmIAverage? </title>
    </head>

    <body>
        
        

        <div class="goldBox" style="width:300px; height: 100px; margin: auto;"> 
            <p>Your suggestion has been submitted!</p>
            <a href="https://amiaverage.herokuapp.com">
                <button class="yellowBox" style="width:100px; margin:auto;">Home</button></a>
        </div>
   
    </body>

</html>