<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/enterInfo.css">
        <title> AmIAverage? </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="MainText" class="header">
            <h1>AM I AVERAGE</h1>
            <h4><i>Find out how you stack up against the average Joe</i></h4>
        </div>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-8 category">
                <div class="goldBox" style ="text-align:center;">
                    <p>Your suggestion has been submitted!</p>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3 menu">
                <form action="https://amiaverage.herokuapp.com" method="post" class="forms">
                    <ul>
                        <li><input type="submit" name="action" value="Home"></li>
                    </ul>
                </form>
            </div>
        </div>   
   
    </body>

</html>
